/* src/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .task-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .task {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(252, 227, 7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .task h3 {
    margin: 0;
  }
  
  .task p {
    margin-top: 8px;
  }
  
  .task:hover {
    background-color: #5208f1;
    cursor: pointer;
  }
  
  .add-task-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  
  .add-task-form input,
  .add-task-form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-task-form button {
    padding: 10px;
    background-color: #007bff;
    color: #21ee0e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-task-form button:hover {
    background-color: #0056b3;
  }
  